*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease;
    font-family: monospace;
}

h1,h2,h3,button,input[type="color"]{
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

#app{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 360px;
    height: 330px;
    margin: auto;
    left: 0;
    right: 0;
    box-shadow: 0 0 4px 0px;
    border-radius: 10px;
    overflow: hidden;
}

#app .card{
    position: absolute;
    top: -30px;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 300px;
    width: 360px;
    text-align: center;
    background: white;
    opacity: 0;
}

#app .card.active{
    left: 0 !important;
    opacity: 1;
}

#app .card:nth-of-type(2){
    left: 100%;
}

#app .card:nth-of-type(3){
    left: 200%;
}

#app .card:nth-of-type(4){
    left: 300%;
}

#app .card:nth-of-type(1) h1{
    padding: 10px;
    background-color: #dfdfdf;
    color: black;
    width: 100%;
    display: block;
}

#app .card:nth-of-type(1) button{
    display: block;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: fit-content;
    margin: auto;
    border-radius: 10px;
    background: #00BCD4;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}

h2{
    padding: 10px;
    background-color: #dfdfdf;
    color: black;
    width: 100%;
    display: block;
}

span{
    display: block;
    width: 200px;
    padding: 10px;
    margin: 40px auto;
    box-shadow: 0px 0px 4px #00BCD4;
    cursor: pointer;
}

span:hover{
    font-weight: bold;
    background: #00BCD4;
    transform: scale(1.1);
}

#app .card:nth-of-type(3) h3{
    padding: 9px;
    box-shadow: inset 0px 0px 3px;
    width: 230px;
    margin: auto;
}

#app .card:nth-of-type(3) .player-option{
    padding: 10px 0px;
    width: 300px;
    margin: auto;
    overflow: hidden;
}

#app .card:nth-of-type(3) .player-option .line{
    margin: 3px;
    float: left;
    width: 90px;
}

#app .card:nth-of-type(3) .player-option .line i{
    display: block;
    padding: 4px 0px;
    margin: 4px 0px;
}

#app .card:nth-of-type(3) .player-option .line input{
    height: 30px;
    width: 60px;
    display: block;
    margin: auto;
    border: none;
    outline: none;
    box-shadow: 0 0 3px;
    text-align: center;
}

.arrow{
    position: absolute;
    top: 30px;
    bottom: 0;
    background: #00BCD4;
    cursor: pointer;
    font-size: 20px;
    padding: 8px;
    margin: auto;
    height: 330px;
}

.prev-arrow{
    left: 0px;
}

.next-arrow{
    right: 0px;
    display: none;
}

#start-the-game-btn{
    padding: 10px;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    background: black;
    color: white;
    font-size: 16px;
}

.boxs{
    margin: auto;
    width: 270px;
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 0;
}

.boxs .box{
    width: 80px;
    height: 80px;
    margin: 5px;
    box-shadow: 0 0 3px;
    float: left;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.boxs .box:hover{
    transform: scale(1.1);
}

.card .layer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 330px;
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(0,0,0,.5);
    z-index: 999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .layer h3{

    position: absolute;
    top: 0px;
    font-size: 30px;
    background: #000000;
    width: 100%;
    padding: 30px;
    color: white;

}

.card .layer.on{
    top: 40px !important;
}

.card .layer button{
    padding: 10px;
    width: 120px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    background: #fdfdfd;
    color: black;
    display: block;
    margin: 40px 0px -30px;
    cursor: pointer;
}